<header>
  <div class="top">
    <div class="container">
          <ul class="pull-right">
            <li><a href="https://www.linkedin.com/in/emre-g%C3%BCven-50b1bb17b/">Linkedin</a></li>
            <li><a href="https://github.com/EmreGuven">GitHub</a></li>
            <li><a href="#">Emre Güven</a></li>
          </ul>
    </div>
  </div>
  
  <nav class="navbar navbar-expand-lg  navbar-light ">
    <div class="container">
  
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" alt="" width="170" height="23">
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
  
          <li class="nav-item">
            <a class="nav-link" href="#">ANASAYFA</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#">ARAÇ KİRALAMA</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars" >ARAÇLAR</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " href="#" >HİZMET VE SERVİSLER</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " href="#" >KURUMSAL</a>
          </li>
  
  
  
        </ul>
      </div>
    </div>
  </nav>
  <!--<div class="breadcrumb-box">
    <div class="b-title"></div>
  </div>
  <p *ngIf="!isHomePage()">Breadcrumb</p>-->
  </header>