<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Araç Ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="carAddForm">
            <label for="carName">Araç Adı</label>
            <div class="form-group">
                <input type="text" id="carName" formControlName="carName" class="form-control" placeholder="Araç Adı">
            </div>
            <div class="mb-3">
              <label for="brandId">Marka Adı</label>
              <div class="form-group">
                  <select id="brandId" formControlName="brandId" class="form-select rounded-0">
                      <option [value]="null" disabled hidden>Marka Seçiniz</option>
                      <option *ngFor="let brand of brands" [value]="brand.id">
                          {{ brand.brandName }}
                      </option>
                  </select>
              </div>
          </div>
          <div class="mb-3">
            <label for="colorId">Renk Adı</label>
            <div class="form-group">
                <select id="colorId" formControlName="colorId" class="form-select rounded-0">
                    <option [value]="null" disabled hidden>Renk Seçiniz</option>
                    <option *ngFor="let color of colors" [value]="color.id">
                        {{ color.colorName }}
                    </option>
                </select>
            </div>
        </div>
            <label for="description">Açıklama</label>
            <div class="form-group">
                <input type="text" id="description" formControlName="description" class="form-control" placeholder="Açıklama">
            </div>
            <label for="plate">Durum</label>
            <div class="form-group">
                <input type="text" id="state" formControlName="state" class="form-control" placeholder="Durum">
            </div>
            <label for="plate">Plaka</label>
            <div class="form-group">
                <input type="text" id="plate" formControlName="plate" class="form-control" placeholder="Plaka">
            </div>
            <label for="plate">Resim</label>
            <div class="form-group">
                <input type="text" id="imgUrl" formControlName="imgUrl" class="form-control" placeholder="Resim Url">
            </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-warning" (click)="addCar()">Ekle</button>
      </div>
    </div>
  </div>
</div>
